/* A fixed contact form that becomes active on button click. It takes up the entire page  */
/* and is fixed to the top of the screen. */
/* The form is hidden by default, and becomes visible when the user clicks on a button (the "Contact" button) */
/* The form will close when the user clicks on the "x" symbol inside the overlay */
/* The form will close when the user clicks anywhere outside the form */

/* The Overlay (background) */

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.contact-form-container{
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.85); /* Black w/ opacity */

    
}

.contact-form-inside{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
    position: relative;
    padding: 3% 4%;
    gap: 8%;
}



.contact-form-closebtn{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

/* main heading of contact form, has an after pseudo line like index.html */

.contact-form-inside h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    line-height: 1em;
}

.contact-form-inside h2::after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 5px;
    background-color: #5e17eb;
    border-radius: 10px;
}

.contact-form-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    height: 80%;
    width: 100%;
    gap: 4%;
}

.contact-form-content h3{
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.5em;
}

.contact-form-content span{
    font-weight: 700;
}

.contact-form-content p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3em;
}

.company-benefits{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    height: 100%;
}

.contact-icon-list li{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.contact-icon-list{
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pop-up-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 40%;
    background-color: #ffffff;
    padding: 3% 5%;
    border-radius: 20px;
    justify-content: center;
    border: 2px solid #818181;
 
}

.pop-up-form input{
    padding: 10px;
    color: #5e17eb;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #818181;

    outline: none;
}

.pop-up-form textarea{
    padding: 10px;
    background-color: #ffffff;
    border: none;
    border-bottom: 1px solid #818181;
    outline: none;
    resize: none;
    white-space: nowrap;
    overflow-y: hidden;
    width: auto;
}

.pop-up-form button{
    background-color: #5e17eb;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;

}

/* media query of a tablet */

@media (max-width: 1050px){
    .contact-form-inside{
        width: 80%;
        height: 80%;
        gap: 3%;
        padding: 8%;
    }

    .contact-form-content{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .company-benefits{
        width: 100%;
        height: 20%;
    }

    .pop-up-form{
        width: 100%;
        height: 55%;
    }
}

/* media query of a mobile phone */

@media (max-width: 600px){
    .contact-form-inside{
        width: 90%;
        height: 80%;
        gap: 7%;
        padding: 8%;
    }

    .contact-form-content{
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .company-benefits{
        display: none;
    }

    .pop-up-form{
        width: 100%;
        height: 100%;
        padding: 10%;
    }

    .contact-form-inside h2{
        font-size: 1.5rem;
    }

    .contact-form-inside h2::after{
        width: 100px;
        height: 3px;
    }

    .contact-form-content h3{
        font-size: 1rem;
    }

    .contact-form-content p{
        font-size: 0.8rem;
    }

    .contact-icon-list li{
        margin-bottom: 5px;
    }

    .contact-icon-list{
        gap: 10px;
    }

    .pop-up-form input{
        padding: 5px;
    }

    .pop-up-form textarea{
        padding: 5px;
    }

    .pop-up-form button{
        padding: 5px;
        font-size: 0.8rem;
    }

    .contact-form-closebtn{
      font-size: 20px !important;
    }


}