/* nav, space between */

*{
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: black;
}

/* nav, transparent background. positioned top */

nav{
  position: absolute;
  top: 0;
  background-color: transparent;
  display: flex;
  padding: 2em 6em;
  align-items: center;
  z-index: 1000;
}

nav img{
  width: 160px;
  height: 70px;
  object-fit: contain;
}

.hero-section{
  height: 104vh;
  display: flex;
  flex-direction: row;
  gap: 3em;
  padding: 4em 6em;
  /* background images with a gradient to the right. left side is a color with the code #090D7C and transparent as the right color */
  background: linear-gradient(90deg, rgba(9,13,124,0.8) 0%, rgba(9,13,124,0.8) 35%, rgba(0,212,255,0) 100%), url("../images/Hero-background.jpg");
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: space-between;
}

.hero-content{
  width: 55%;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  padding-top: 3em;
}

.hero-content h1{
  font-size: 56px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1.7rem;
  line-height: 120%;
}

.hero-content p{
  font-size: 17px;
  font-weight: 400;
  color: #d1d1d1;
  line-height: 160%;
  
}

.hero-icon-list{
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
}

.hero-icon-list p{
  color: #fff;
}

.hero-icon{
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
  margin-bottom: 1em;
}

.hero-icon img{
  width: 20px;
  height: 20px;
}

.hero-contact-form{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
  background-color: #fff;
  border-radius: 20px;
  
}

.hero-contact-form-heading{
  display: flex;
  flex-direction: column;
  padding: 20px 7em;
  gap: 0.3em;
  align-items: center;
  background-color: #090d7c;
  border-radius: 20px 20px 0px 0px;
  color: #fff;
  margin-bottom: 0.8em;
}

.hero-contact-form-heading h2{
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  
  line-height: 150%;
}

.hero-contact-form-heading p{
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

.hero-contact-form input{
  background-color: #fff;
  padding: 15px 20px;
  
  border: none;
  width: 320px;
  height: 50px;
  font-size: 12px;
  font-weight: 400;
  transition: all 0.3s ease;
  text-transform: capitalize;
}

.hero-contact-form form{
  padding: 0em 3em;
}

.hero-contact-form img{
  width: 20px;
  height: 20px;
}

.hero-contact-form-input{
  border-bottom: 1px solid #d1d1d1;
  display: flex;
  align-items: center;
  
}

.hero-contact-form textarea{
  background-color: #fff;
  padding: 15px 20px;
  height: 50px;
  
  border: none;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  transition: all 0.3s ease;
  text-transform: capitalize;
  resize: none;
  overflow-y: hidden;

}


.hero-contact-form-button{
  margin-top: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.hero-contact-form button{
  background-color: #60B741;
  border: none;
  padding: 10px 30px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  line-height: 150%;
  font-weight: 400;;
  text-transform: capitalize;
}

/* a div container with 2 divs inside it */

.third-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0em 6em;
  gap: 4em;
  margin: 7em 0;
}

.secured-text{
  display: flex;
  flex-direction: row;
  gap: 0.3em;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
}

.secured-text img{
  width: 20px;
  height: 20px;
}

.secured-text p{
  font-size: 12px;
  font-weight: 400;
}


.third-section-content{
  justify-content: center;
  width: 50%;
  position: relative;
}

.sticky-text{
  position: sticky;
  top: 30%;
  padding-bottom: 10%;
}

.third-section-content h2{
  font-size: 3rem;
  font-weight: 600;

  margin-bottom: 1.7rem;
  line-height: 1.2em;
}

.third-section-content p{
  font-size: 1rem;
  font-weight: 400;

}

.third-section-content button{
  background-color: #090d7c;
  border: none;
  padding: 10px 30px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  text-transform: uppercase;
  margin-top: 2em;
}

.third-section-content button:hover{
  background-color: #ffd700;
  color: white;
  transition: all 0.3s ease;
}

.third-section-icons{
  display: flex;
  flex-direction: row;
  margin-bottom: 2.5em;
  gap: 2.5em;
  flex-wrap: wrap;
  justify-content: center;
  width: 50%;
}

.third-section-icon{
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  padding: 5% 5%;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(9, 13, 123, 0.1);
  
}



.testimonial-container{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  gap: 3em;
  padding: 6em 6em;
}

.testimonial-container img{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial-container h2{
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1.7rem;
  line-height: 1.2em;
  text-align: center;
}


.testimonial-container p{
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}

.testimonial-container h3{
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.2em;
  text-align: center;
}

.testimonials{
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.testimonial{
  border: 1px solid rgb(9, 13, 123);
  padding: 3em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  box-shadow: 0px 0px 100px rgba(9, 13, 123, 0.1);
  border-radius: 10px;
  width: 33%;
}

.testimonial-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.our-work{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 6em 6em 2em 6em;
}

.our-work h2{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0rem;
  line-height: 120%;
  text-align: center;
}

.our-work p{
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
  text-align: center;
  padding: 0 15%;
  margin-bottom: 1em;
}

.our-work-content{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
}

.our-work img{
  width: 100%;
  height: 400px;
  object-fit: contain;
}

.our-work-content-image{
  box-shadow: 0px 0px 100px rgba(9, 13, 123, 0.1);
  border-radius: 10px;
  padding: 1.4em;
}

.our-work-content-image p{
  font-size: 14px;
  font-weight: 400;
  line-height: 170%;
  text-align: start;
  margin-bottom: 1em;
  padding: 0;
}

.our-work-content-image h3{
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2em;
  text-align: start;
  margin-bottom: 0.5em;
  padding: 0;
  margin-top: 1em;
}

.related-keywords{
  display: flex;
  flex-direction: row;
  gap: 1em;
  flex-wrap: wrap;
  margin-top: 2em;
}

.related-keywords p{
  background-color: #f0f0f0;
  padding: 5px 10px;
  font-weight: 500;
  font-size: 14px;
}



.why-us{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
  padding: 6em 6em;
  background-color: #090d7c;

}

.why-us h2{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 2rem;
  line-height: 120%;
  text-align: center;
  color: #fff;
  padding: 0 20%;
}

.why-us p{
  font-size: 16px;
  font-weight: 400;
  line-height: 170%;
  color: #fff;
}

.why-us h3{
  font-size: 24px;
  font-weight: 600;
  line-height: 1.2em;
  
  color: #fff;
}

.why-us-content{
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
}

.why-us-content-icon{
  display: flex;
  flex-direction: column;
  gap: 1.7em;
}

.why-us button{
  background-color: #fff;
  border: none;
  padding: 10px 30px;
  color: #090d7c;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  text-transform: uppercase;
  margin-top: 2em;
}

.why-us button:hover{
  background-color: #ffd700;
  color: white;
  transition: all 0.3s ease;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2em 6em;
  background-color: #090d7c;
  color: #fff;
}

footer a {
  color: #fff;
}

.footer-logo{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em 0 1em 0;
}

.footer-logo img{
  width: 160px;
  height: 70px;
  object-fit: contain;
}

.footer-bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0 0.2em 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* responsive design for 1024px */

@media (max-width: 1024px) {
  .hero-section{
    flex-direction: column;
    padding: 4em 2em;
    gap: 0em;
    height: 105vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgba(9,13,124,0.8) 0%, rgba(9,13,124,0.8) 35%, rgba(0,212,255,0) 100%), url("../images/Hero-background.jpg");
  }

  .hero-content{
    width: 100%;
  }

  nav{
    padding: 2em;
  }

  .hero-content h1{
    font-size: 40px;
  }

  .hero-content p{
    font-size: 14px;
  }

  .hero-contact-form{
    width: 100%;
  }

  .hero-contact-form-heading{
    padding: 20px 2em;
  }

  .hero-contact-form-heading h2{
    font-size: 20px;
  }

  .hero-contact-form-heading p{
    font-size: 12px;
  }

  .hero-contact-form form{
    padding: 0em 1em;
  }

  .third-section{
    flex-direction: column;
    padding: 0em 2em;
    gap: 2em;
    margin: 4em 0;
  }

  .third-section-content{
    width: 100%;
  }

  .third-section-content h2{
    font-size: 2rem;
  }

  .third-section-content p{
    font-size: 1rem;
  }

  .third-section-content button{
    font-size: 14px;
  }

  .third-section-icons{
    width: 100%;
  }

  .testimonial-container{
    padding: 4em 2em;
    margin: 3em 0;
  }

  .testimonial-container h2{
    font-size: 2rem;
  }

  .testimonial-container p{
    font-size: 1rem;
  }

  .testimonials{
    flex-direction: row;
    gap: 2em;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .testimonial{
    width: 45%;
  }

  .our-work{
    padding: 4em 2em;
  }

  .our-work h2{
    font-size: 2rem;
  }

  .our-work p{
    font-size: 1rem;
  }

  .our-work-content{
    flex-direction: column;
    gap: 2em;
  }

  .our-work img{
    height: 500px;
  }

  .why-us{
    padding: 4em 4em;
  }


  .why-us-content-icon{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;

  }

  .why-us h2{
    font-size: 2rem;
    padding: 0 10%;
  }

  .why-us p{
    font-size: 1rem;
  }

  .sticky-text{
    padding: 0 2em;
  }

  footer{
    padding: 2em;
  }
}